@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PixelifySans";
  src: url('./fonts/Pixelify/PixelifySans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  src: url('./fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@keyframes cloudMoveSlow {
  from {
    transform: translateX(calc(-100vw - 200px)); /* ออกซ้ายพอดี */
  }
  to {
    transform: translateX(calc(100vw + 200px)); /* ออกขวาพอดี */
  }
}

@keyframes cloudMoveFast {
  from {
    transform: translateX(calc(100vw + 200px)); /* เริ่มต้นที่ขวานอกจอ */
  }
  to {
    transform: translateX(calc(-100vw - 200px)); /* ออกไปซ้ายนอกจอ */
  }
}

@keyframes sunMove {
  from {
    transform: translateX(calc(-100vw - 200px)); /* เริ่มจากซ้ายสุดนอกจอ */
  }
  to {
    transform: translateX(calc(81vw - 100px));
  }
}

.animate-sun {
  animation: sunMove 30s linear forwards; /* ใช้ forwards เพื่อให้ค้างที่ตำแหน่งสุดท้าย */
}



.animate-cloud {
  animation: cloudMoveSlow 70s linear infinite;
}

.animate-cloud-fast {
  animation: cloudMoveFast 50s linear infinite;
}
