@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PixelifySans";
  src: url('./fonts/Pixelify/PixelifySans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}